# Server Configuration
PORT=
NODE_ENV=

# Security & Authentication
# MUST BE CHANGED IN PRODUCTION! Generate a strong random string (e.g., openssl rand -hex 32)
JWT_SECRET=

# Master Key Provisioning Secret
# Used by Electron nodes during their first registration to derive their E2E Master Keys.
PROVISIONING_SECRET=


# ADMIN AUTH
ADMIN_USERNAME=
ADMIN_PASSWORD=

# database credential

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=


# Nodes Approval
APPROVAL_PASSWORD=
DASHBOARD_CONTROLS_AUTH=


METERED_APP_NAME=turn server 
METERED_API_KEY=turn server api

